* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
}

.preloader span {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
    display: inline-block;
}

.preloader span:nth-child(2) {
    animation-delay: 0.2s;
}

.preloader {
    display: flex;
    gap: 10px;
    /* يضيف مسافة بين الدوائر */
}

@keyframes bounce {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}